/** Ajustes generales */
html {
  box-sizing: border-box; /* El tamaño de las cajas, incluye el padding */
  font-size: 62.5%; /* 1rem = 10px */
}
*, *:before, *:after {
  box-sizing: inherit; /* El comportamiento del tamaño de las cajas, lo define el elemento padre */ 
}
body {
  font-family: sans-serif; /* Fuente de letra principal */
  font-size: 1.6rem; /* Devolvemos el tamaño de fuente original */
  line-height: 1; /* Interlineado general */
}

main {
  display: flex;
  flex-direction: column;
}

.menu {
  display: flex;
  align-content: center;
  flex-direction: row;
  justify-content: center;
  margin: 1rem 0;
}
.texto_menu {
  font-size: 1.2rem;
  margin: auto 0;
}
.separador_menu {
  border: 1px solid black;
  margin: 0 1.6rem;
}
.boton_menu {
  font-size: 1rem;
  border: 2px solid black;
  border-radius: 0.5rem;
  padding: 0.8rem;
  margin: 0 0.8rem;
  background-color: silver;
  color:grey;
 }

@media (max-width: 600px) {
  .menu {
    margin: 0.5rem 0;
  }
  .texto_menu {
    font-size: 0.9rem;
    margin: auto 0;
  }
  .separador_menu {
    border: 1px solid black;
    margin: 0 1.2rem;
  }  
  .boton_menu {
    font-size: 0.7rem;
    border-radius: 0.3rem;
    padding: 0.4rem;
    margin: 0 0.4rem;
   }
}



.boton_numero {
  font-size: 1.6rem;
  width: 3.4rem;
  height: 3.4rem;
  border: 2px solid black;
  border-radius: 0.5rem;
  margin: 1rem 0.5rem 0 0.5rem;
  background-color: silver;
  color:grey;
}

@media (max-width: 600px) {
  .boton_numero {
    font-size: 1rem;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 0.3rem;
    margin: 0.5rem 0.3rem 0 0.3rem;
  }
}

.activado {
 background-color: cadetblue;
 color:white;
}

.titulo {
  text-align: center;
}

main {
  display: flex;
}

.seleccionado {
  background-color: cadetblue;
}

.cuadro_principal {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
}

.cubo {
  border: 1px solid black;
}

.fila {
  display: flex;
}

.celda {
  display: flex;
  border: 1px solid black;
  width: 5rem;
  height: 5rem;
}
.celda p {
  margin: auto;
  font-size: 2.5rem;
  cursor: default;
}

.celdaVacia {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
}
.celdaTest {
  display: flex;
  text-align: center;
 }

.celdaTest p {
  font-size: 1.1rem;
  margin: auto; 
}

@media (max-width: 600px) {
  .celda {
    width: 3.5rem;
    height: 3.5rem;
  } 
  .celda p {
    font-size: 2.2rem;
  }
  .celdaTest p {
    font-size: 0.8rem;
    margin: auto; 
  }  
}



.cand_grey {
  color: silver;
}

